/* common css */
* {
  /* font-family: "Fraunces", serif;
  font-family: "Montserrat", sans-serif; */
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: hsl(30, 38%, 92%);
}

/* product section */

.product {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 16px;
  margin: 25px;
}
.product-img {
  border-radius: 20px;
}
